.cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
  gap: 17px;
  max-width: 880px;
}

.card {
  max-width: 282px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 0;
}

.card__image {
  max-width: 282px;
  width: 100%;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card__button-trash {
  display: flex;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  mix-blend-mode: difference;
}

.card__button-trash.hidden {
  visibility: hidden;
}

.card__button-trash:hover {
  opacity: 60%;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.card__button-like {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.card__button-like:hover {
  opacity: 60%;
}

.card__button-like.active {
  background-image: url(../images/card-like-active.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  width: 21px;
  height: 19px;
  display: flex;
  align-self: center;
}

.card__button-counter {
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

@media screen and (max-width: 953px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 598px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
