.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
}

.header__logo {
  max-width: 173px;
  margin-top: 45px;
  margin-bottom: 41px;
}

.header__line {
  height: 1px;
  background: #545454;
}

@media screen and (max-width: 974px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 581px;
  }
}

@media screen and (max-width: 577px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 320px;
  }
}
