* {
  box-sizing: border-box;
}

.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.content {
  max-width: 880px;
  width: 100%;
}
